@page "/"

<h1>Hello, world!</h1>
<br />
Row:
<select  @bind="rows">
    @for (int row = 0; row < 10; row++)
    {
        <option value="@row">@row</option>
    }
</select>
Col:
<select  @bind="cols">
    @for (int col = 0; col < 10; col++)
    {
        <option value="@col">@col</option>
    }
</select>
Contenu :
<input type="Text" value="@content" />

<ComponentTable cols="@cols" rows="@rows" CellClicked="cellClicked"></ComponentTable>

@code{
    public int rows { get; set; } = 7;
    public int cols { get; set; } = 4;
    public string content { get; set; }

    void cellClicked(string value)
    {
        content = value;
    }

}